#desaparece {
    background-color: #6474b1;
    height: 600px;
    text-align: center;
    line-height: center;
}

.botao-menu {
    width: 328px;
    height: 105px;
    padding: 24px;
    border-radius: 17px;
    margin: auto;
    position: absolute;
    top: 394px;
    background-color: darkblue;
    color: white;
}

#forca {
    display: none;
    height: 600px;
    width: 100%;
}

#fim-de-jogo {
    display: none;
    background-color: #f3f5fc;
    width: 100%;
    text-align: center;
}

.botaoFim {
    width: 328px;
    height: 65px;
    padding: 24px;
    border-radius: 17px;
    margin: auto;
    background-color: darkblue;
    color: white;
    margin: 50px 25px 25px 25px;
    float: bottom;
}

#btnDesistir {
    background-color: #f3f5fc;
    color: darkblue;
}

