#desaparece {
    background-color: #6474b1;
    height: 600px;
    line-height: center;
    width: 100%;
    text-align: center;
}

#desaparece h2 {
    font: normal 30pt impact;
    margin: 0;
}

#desaparece p {
    margin: 0;
    font: normal 13pt impact
}

.botao-menu {
    width: 328px;
    height: 105px;
    padding: 24px;
    border-radius: 17px;
    background-color: darkblue;
    color: white;
    margin-top: 50px;
}

#forca {
    display: none;
    height: 600px;
    width: 100%;
}

#fim-de-jogo {
    display: none;
    background-color: #f3f5fc;
    width: 100%;
    text-align: center;
}

.botaoFim {
    width: 328px;
    height: 65px;
    padding: 24px;
    border-radius: 17px;
    margin: auto;
    background-color: darkblue;
    color: white;
    margin: 50px 25px 25px 25px;
    float: bottom;
}

#btnDesistir {
    background-color: #f3f5fc;
    color: darkblue;
}

