#desaparece {
    background-color: #6474b1;
    height: 600px;
    line-height: center;
    width: 100%;
    text-align: center;
}

#desaparece h2 {
    font: normal 30pt impact;
    margin: 0;
    text-decoration: underline;
    color: rgb(66, 2, 66);
}

#desaparece p {
    margin: 0;
    font: normal 13pt impact
}

#desaparece img {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

#novaPalavra {
    width: 100%;
    background-color: #f3f5fc; 
    height: 600px;
    text-align: center;
    line-height: center;
    display: none;
}

.texto {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 200px;
    border: none;
    font: normal 32px sans-serif;
    color: #0A3871;
    background-color: #f3f5fc;
}

#novaPalavra p {
    text-align: center;
}

.botao-add {
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 17px;
    margin: 50px 50px 0 50px;
    background-color: #0A3871;
    color: white;
}

.botao-menu {
    width: 328px;
    height: 105px;
    padding: 24px;
    border-radius: 17px;
    background-color: darkblue;
    color: white;
    margin-top: 50px;
    margin: 25px;
}

#forca {
    display: none;
    height: 600px;
    width: 100%;
}

#fim-de-jogo {
    display: none;
    background-color: #f3f5fc;
    width: 100%;
    text-align: center;
}

.botaoFim {
    width: 328px;
    height: 65px;
    padding: 24px;
    border-radius: 17px;
    margin: auto;
    background-color: darkblue;
    color: white;
    margin: 50px 25px 25px 25px;
    float: bottom;
}

#btnDesistir {
    background-color: #f3f5fc;
    color: darkblue;
}

